.git
.github
.idea
.pytest_cache
.venv
.coverage
.env
coverage.json
__pycache__
*.egg-info
*.pyc
*.pyo
build
coverage.xml
dist
docs
junit.xml
plan
test
test_repo
venv
webui/coverage
webui/dist
webui/node_modules
webui/playwright-report
webui/test-results
